/* Author: Shawly Zaman Shorna, ID: 2021240*/
.fontType1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #fff
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    height: 50px;
    vertical-align: middle;
}

.logo h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #cb5807;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0
}

/* HomePage Styling */
.home-flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #2f2f2f;
    color: #fff;
}

.home-content {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.home-content img {
    max-width: 100%;
    margin-top: 20px;
}