/* Author: Shawly Zaman Shorna, ID: 2021240 */

/* Font type 1 as required */
.fontType1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #fff
}

/* Header and logo design */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    height: 50px;
    vertical-align: middle;
}

.logo h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* Navigation Bar Design */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #cb5807;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0
}

/* HomePage Design */
.home-flex {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #2f2f2f;
    color: #fff;
}

.home-content {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.home-content img {
    max-width: 100%;
    margin-top: 20px;
}
.fontType2 {
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Products Page Design */

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #2f2f2f;
}

.product-item {
    background-color: #3f3f3f;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
}

.product-item h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}

.product-item p {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
}

.product-item strong {
    color: #d2691e;
}

/* Contact Page Design */

.contact-content {
    padding: 20px;
    background-color: #2f2f2f;
    text-align: center;
}
.contact-content img {
    max-width: 80%;
    margin: 20px 0;
}
.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul {
    margin: 10px 0;
    text-decoration: none;
}

.contact ul  a {
    color: #e97019;
    text-decoration: none;
    transition: color 0.3s;
}
.contact ul a:hover {
    color: #fff;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    margin-top: 20px;
}
